# --- Python Cache & Bytecode ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environments ---
.venv/
venv/
ENV/
env/

# --- Sensitive Data & configurationen (z.B. API-Keys) ---
.env
*.env
secrets.json

# --- IDEs and Editors ---
.vscode/
.idea/
*.swp
*.swo

# --- Distribution & Packages (for using libraries) ---
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/

# --- Jupyter Notebook Caches ---
.ipynb_checkpoints

# --- Log-Dateien ---
*.log
